<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj sceniariusz</title>
</head>
<body>

    <form action="/add-scenario" method="post">
        <label>
            Wybierz pamiątki do sceniariusza.
        </label>
        <label>
            Wprowadź nazwe scenariusza.
        </label>
        <input type="text" name="name" >
        <label>
            Wprowadź opis scenariusza .
        </label>
        <input type="text" name="description" >
        <button type="submit">Dodaj scenariusz</button>
    </form>

</body>
</html>