<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie sceniariuszy zwiedzania.</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
Stworzono scenariusz.
<div
        th:text="'Numer senariusza to '+${scenario.id}+' nazwa scenaruisza:'+${scenario.name}+' opis scenariusza: '+${scenario.description}"
></div>

<table>
    <tr>
        <th>
            Numer pamiątki:
        </th>
        <th>
            Nazwa pamiątki:
        </th>
        <th>
            Datowanie:
        </th>
        <th>
            Rodzaj:
        </th>
        <th>
            Okres historyczny:
        </th>
        <th>
            Zdjęcie:
        </th>


    </tr>
    <tr th:each="souvenir:${souvenirs} ">
        <th th:text="${souvenir.id}">
            id
        </th>
        <th th:text="${souvenir.name}">
            name
        </th>
        <th th:text="${souvenir.souvenirYear}">
            year
        </th>
        <th th:text="${souvenir.category}">
            category
        </th>
        <th th:text="${souvenir.historicalPeriod}">
            historicalPeriod
        </th>
        <th>
            <img th:src="${'images/'+souvenir.imageName}" alt="Obrazek">

        </th>
    </tr>
</table>
<form action="/add-souvenir-to-scenario" method="post">
    <label>
        Wybierz pamiątki do sceniariusza.
    </label>
    <label>
        Wprowadz id pamiątki.
    </label>
    <input type ="hidden" name ="scenarioID"  th:value="${scenario.id}"

    >
    <input type="number" name="souvenirID" min="0">
    <button type="submit">Dodaj</button>
</form>
<div>
    <a href="/">
        Powrót.
    </a>
</div>
</body>
</html>