<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>

</head>
<body>
<h1>
    Strona Historyczna
</h1>
<h2 th:text="${description}">
</h2>
<div>
    <a href="/add-souvenir">
        Dodaj pamiątki.
    </a>
</div>
<div>
    <a href="/view-souvenirs">
        Przeglądaj pamiątki.
    </a>
</div>
<div>
    <a href="/add-scenario">
        Dodaj scenariusz.
    </a>
</div>
<div>
    <a href='/view-scenarios'>
        Przeglądaj scenariusze
    </a>
</div>
<div>
    <a href='/add-user'>
        Dodaj urzytkownika
    </a>
</div>
</body>
</html>