<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przeglądaj</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
<form action="/view-souvenirs" method="post">
    <label>
        Podaj nazwę pamiątki.
    </label>
    <input type="text" name="name">
    <label>
        Wprowadz rok z którego pochodzi pamiątka.
    </label>
    <input type="number" name="year">
    <select name="category">
        <option value=""></option>
        <option value="uniform">Umundurowanie</option>
        <option value="weapon">Broń</option>
        <option value="medal">Odznaczenia</option>
        <option value="document">Dokumenty</option>
        <option value="other">Inne</option>
    </select>
    <label>
        Podaj okres historyczny.
    </label>
    <input type="text" name="period">
    <button type ="submit" >Znajdż</button>
</form>
<table>
    <tr th:each="souvenir:${souvenirs} ">
        <th th:text="${souvenir.id}">
            id
        </th>
        <th th:text="${souvenir.name}">
            name
        </th>
        <th th:text="${souvenir.souvenirYear}">
            year
        </th>
        <th th:text="${souvenir.category}">
            category
        </th>
        <th th:text="${souvenir.historicalPeriod}">
            historicalPeriod
        </th>
        <th>
            <img th:src="${'images/'+souvenir.imageName}" alt="Obrazek">

        </th>
    </tr>
</table>
<div>
    <a href="/">
        Powrót
    </a>
</div>
</body>
</html>