<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Przeglądaj</title>
    <link href="styles.css" rel="stylesheet"/>
</head>
<body>
<table>
    <tr th:each="souvenir:${souvenirs} ">
        <th th:text="${souvenir.id}">
           id
        </th>
        <th th:text="${souvenir.name}">
            name
        </th>
        <th th:text="${souvenir.souvenirYear}">
            year
        </th>
        <th th:text="${souvenir.category}">
            category
        </th>
        <th th:text="${souvenir.historicalPeriod}">
            historicalPeriod
        </th>
    </tr>
</table>
</body>
</html>